body { 
    width: 1440px;
    margin: auto;
    overflow-y: scroll;
}

header {
    background-color: #0C0C0E;
    height: 90px;
    display: flex;
}

.header-txt {
    color: #FFFFFF;
    position: relative;
    top: 20px;
    left: 20px;
    font-size: 20px;
}

.div-header {
    color: #FFFFFF;
    position: absolute;
    top: 20px;
    left: 768px;
}

li {
    list-style-type: none;
    display: inline;
    margin: 15px;
    font-size: 20px;
}

.fonradius {
    height: 28px;
    width: 28px;
    background-color: #FFFFFF;;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: px;
}

.radius {
    height: 9.33px;
    width: 9.33px;
    background-color: #0C0C0E;
    border-radius: 50%;
    border: 2px solid aquamarine;
    top: ;
    left: ;
}

.polradius {
    width: 15.56px;
    height: 7.78px; 
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    background: #0C0C0E;
    border: 2px solid aquamarine;
    top: ;
    left: ;
}











footer {
    background-color: #0C0C0E;
    height: 250px;
    width: 1440px;
    position: absolute;
    top: 4996px;
    display: flex;
}